.values{
  padding:0 20px;
  position: relative;
}
.values__items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  .values__item{
    max-width: 285px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    img{
      max-width: 48px;
      max-height: 48px;
      margin-bottom: 16px;
    }
    .values__item-bold{
      font-size: 20px;
      font-weight: bold;
    }
    .values__item-thin{
      color: #787A80;
    }
  }
}

.values__line{
  height: 188px;
  width: 1px;
  background: #DADBDD;
  border-radius: 1000%;
}
@media screen and (max-width: 424px){
  .values__title{
    h1{
      font-size: 35px;
    }
  }
  .values__items{
    grid-template-columns: 1fr;
    grid-gap: 15px;
    .values__item{
      img{
      }
      .values__item-bold{
        font-size: 18px;
      }
      .values__item-thin{
        color: #787A80;
        font-size: 14px;
      }
    }
  }
  .values__line{
    display: none;
  }
}
.questions{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 48px 0;
  gap: 32px;
  border-radius: 4px;
  position: relative;
  bottom: -120px;
}
.questions__title{
  display: flex;
  justify-content: center;
}
.questions__text_area{
  display: flex;
  gap: 24px;
  color: #424551;
  font-size: 14px;
  .questions__name{
    display: flex;
    gap: 8px;
    flex-direction: column;
    input{
      padding: 11px 21px;
      border-radius: 4px;
      border: 1px solid #E5E8ED;
    }
  }
  .questions__phone{
    display: flex;
    gap: 8px;
    flex-direction: column;
    input{
      padding: 11px 21px;
      border-radius: 4px;
      border: 1px solid #E5E8ED;
    }
  }
  .questions__massege{
    display: flex;
    gap: 8px;
    flex-direction: column;
    input{
      padding: 11px 182px 11px 16px;
      border-radius: 4px;
      border: 1px solid #E5E8ED;
    }
  }
  .questions__btn{
    display: flex;
    align-items: end;

    button{
      padding: 12px 32px;
      border: none;
      background: #FF5A30;
      color: #fff;
      border-radius: 4px;
      font-weight: 900;
      transition: all 0.3s ease 0s;
      &:hover{
        background: #FC3300;
      }
    }
  }
}
@media screen and (max-width: 1100px){
  .questions__text_area{
    color: #424551;
    .questions__name{
      input{
        padding: 11px 0 11px 11px;
      }
    }
    .questions__phone{
      input{
        padding: 11px 0 11px 11px;
      }
    }
    .questions__massege{
      input{
        padding: 11px 50px 11px 16px;
      }
    }
    .questions__btn{

      button{
        padding: 12px 32px;
      }
    }
  }
}
@media screen and (max-width: 900px){
  .questions__text_area{
    color: #424551;
    .questions__name{
      input{
        width: 180px;
      }
    }
    .questions__phone{
      input{
        width: 180px;
      }
    }
    .questions__massege{
      input{
        width: 180px;
      }
    }
    .questions__btn{

      button{
        padding: 12px 25px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .questions__text_area{
    flex-direction: column;
  }
  .questions__text_area {
    color: #424551;

    .questions__massege {
      input {
        width: 300px;
      }
    }

    .questions__name {
      input {
        width: 300px;
      }
    }

    .questions__phone {
      input {
        width: 300px;
      }
    }

    .questions__massege {
      input {
        width: 300px;
      }
    }

    .questions__btn {

      button {
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: 424px){
  .questions__text_area{
    flex-direction: column;
  }

  .questions__text_area {
    color: #424551;

    .questions__massege {
      input {
        width: 200px;
      }
    }

    .questions__name {
      input {
        width: 200px;
      }
    }

    .questions__phone {
      input {
        width: 200px;
      }
    }

    .questions__massege {
      input {
        width: 200px;
      }
    }

    .questions__btn {

      button {
        width: 200px;
      }
    }
  }
}